extends callayout

block vars
  -var title = "Calendar"

block content
    #myContainer
    .jumbotron.text-center.splash
        h1.jumboh1 Calendar & Events
    hr.section-divider
    #wrapper
        #events-calendar
        #events
        .clear
    hr.section-divider
    #eventsHolder.eventwrap
