extends blayout

block vars
  -var title = "Location";

block content
  iframe(src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJyzmqcg_1UocRYF5zBQ34mG4&key=AIzaSyAAhdBk329KArDlWQc1QEt1lRRBp-URS70")