extends layout

block content
    div(class='info-box top')
        .col
            .row
                p(id='infoName') About Johnathan Auchterlonie
                p(id='infoTitle') 
                    em This Is Me
                hr
            .row
                p(id='infoMsg') I was born and raised in Colorful Colorado. I come from a
                    |  very small town call Ordway which is located 2 and a half hours
                    |  South-East of Pueblo Co. and 2 and a half hours South-West of Denver
                    |  Co. near the Oklamhoma and Kansas border. I am the second oldest of
                    |  five children and moved out to Salt Lake City Utah to attend Neumont
                    |  College of Computer Science. I chose to go to Neumont for technology
                    |  has alway interested me ever since i got my first game console. I then
                    |  chose to be a Web Developer for I love being artistic and have a
                    |  very creative mind. Plus woring with technologies like Node.JS,
                    |  AngularJS, and JavaScript is just to fun to pass up. This is a little
                    |  about who I am. If you would like to know more don't be afraid to
                    |  reach out to me. My email is: JAuchterlonie@student.neumont.edu or
                    |  you can connect to me 
                    a(href='https://www.linkedin.com/in/johnathan-auchterlonie-ba23aba8/') here
                    |  .