extends blayout

block vars
    -var title = "Home"

block content
    div(class='widePic')
        h2 Our Mission
        p We want to show the world the wonders of the exotic meats we provide in our food