extends layout

block content
    div(class='info-box top')
        .col
            .row
                p(id='infoName') Express Burgers
                p(id='infoTitle') 
                    em Interactive Web Development
                hr
            .row
                p(id='infoMsg') This project is one of the first projects that I had the
                    |  pleasure of using pug and express together. I learned many things
                    |  during this project that helped me grow as a developer today.
                    |  Express Burgers is a demo project that we had to create to represent
                    |  a website of what a well put together restraunt with their full menu.
                    |  The menu especially had to be able to be easily updated and easy
                    |  upkeep. To the finsihed product of this site visit 
                    a(href='/burgers/') here
                    | .
        div(class='col' id='expressImg')
    div(class='info-box bottom')
        div(class='col' id='payImg')
        .col
            .row
                p(id='infoName') Pay Back Time
                p(id='infoTitle') 
                    em Advanced Web Scrypting
                hr
            .row
                p(id='infoMsg') This project was extremely fun to do. It is the first time
                    |  I ever used and touched the babel and webpack framework. It was quite
                    |  a challange to implement some of the static file we wanted to use
                    |  but as we worked through it became alot clearer. Pay Back Time is a
                    |  project that we had to build in a competitional setting for Neumont's
                    |  Innovation Center website. To view the completed outcome for the project
                    |  visit 
                    a(href='/payproject/') here
                    | .